#about {
    padding: 5vw 0;
}

.about__container {
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 10%;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/m12.jpg);
    /* background-repeat: no-repeat; */
    border-radius: 2rem;
    background-position-x: calc(10vw - 25rem);
    background-position-y: calc(25rem - 45vw);
    transition: background-position 0.01s ease-in-out;

}

.about__content {
    margin: 2rem 5vw;
    grid-column: 2;
}

.about__cards {
    background: var(--color-bg-variant);
    border: 4px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: justify;
    transition: var(--transition);
}

.about__cards:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__cards h3 {
    font-size: 3rem;
    text-align: right;
    font-family: 'Great Vibes', cursive;
}

.about__cards h5 {
    font-size: 1.35rem;
    padding: 0.3rem 0;
}

#h5middle{
    text-align: center;
}

.about__cards h6 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    text-align: left;
}

/*----------------------media queries (medium devices)-------------*/

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
        background-image: none;
    }

    .empty {
        background-image: url(../../assets/m1.jpg);
        background-position: calc(-35% + 65%);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
        border-radius: 1rem;
    }

    .about__content {
        margin: 1rem 1vw;
    }

    .about__cards:hover {
        background: var(--color-bg-variant);
        border-color: var(--color-bg-variant);
        cursor: default;
    }

}

/*----------------------media queries (small devices)-------------*/

@media screen and (max-width: 1024px) {}