#drive {
    padding: 4rem 0;
    background-image: url(../../assets/wallpaperflare.com_wallpaper\ \(4\).jpg);
}

iframe {
    border-radius: 2rem;
    width: 100%;
}

.container-spotify {
    height: max-content;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem !important;
    padding: 2rem;
    text-align: center;
}

.container-spotify > h3 {
    margin: 2rem;
    font-size: 1.75rem;
    font-weight: bolder;
}

#btn-spotify {
    display: inline-block !important;
    padding: 10px 20px !important;
    background-color: #1DB954 !important;
    color: white !important;
    border: none !important;
    border-radius: 2rem !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease-in-out !important;
    margin: 2rem 5rem !important;
}

#btn-spotify:hover {
    background-color: #179845 !important;
}



.container-hashtag {
    height: max-content;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem !important;
    text-align: center;
    padding: 2rem;
    gap: 0.5rem;
}

.container-hashtag > h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
}

.container-hashtag > h5 {
    font-size: 1.75rem;
}

.logo-ig{
    width: max-content;
    height: max-content;
    font-size: 4rem;
}

.container-hashtag > a {
    width: 15% !important;
    height: 15% !important;
    font-size: 1.5rem;
}

/*----------------------media queries (medium devices)-------------*/

@media screen and (max-width: 1024px) {
    .container-hashtag > a {
        width: 50vw !important;
        min-width: max-content !important;
        font-size: 1.5rem;
    }
}